<header class="d-rel main-page-header">
    <h1 class="p-abs logo">Ts Jungle</h1>

    <nav class="navbar">
        <div class="navbar-container container">
            <input class="p-abs" type="checkbox" name="Mobile Nav Menu" aria-label="collapsible site menu">
            <div class="p-abs d-fx fx-col fx-just-between hamburger-lines">
                <span class="d-block line line1"></span>
                <span class="d-block line line2"></span>
                <span class="d-block line line3"></span>
            </div>
            <ul class="d-fx fx-col menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
