.main-page-header {
    background-color: #00008b;
    color: #fff;
    height: 70px;

    .logo {
        right: 15px;
        top: 9px;
    }

    & input[type="checkbox"] {
        display: block;
        height: 32px;
        left: 20px;
        opacity: 0;
        top: 20px;
        width: 30px;
        z-index: 5;
        &:checked {
            ~ .menu-items {
                transform: translateX(0);
            }
            ~ .hamburger-lines {
                .line1 {
                    transform: rotate(35deg);
                }
                .line2 {
                    transform: scaleY(0);
                }
                .line3 {
                    transform: rotate(-35deg);
                }
            }
        }
    }

    & .hamburger-lines {
        height: 23px;
        left: 20px;
        top: 17px;
        width: 35px;
        z-index: 2;

        & .line {
            background: #fff;
            border-radius: 10px;
            height: 4px;
            width: 100%;
        }

        & .line1 {
            transform-origin: 0 0;
            transition: transform 0.4s ease-in-out;
        }

        & .line2 {
            transition: transform 0.2s ease-in-out;
        }
        & .line3 {
            transform-origin: 0 100%;
            transition: transform 0.4s ease-in-out;
        }
    }

    .navbar {
        .menu-items {
            background: #00008b;
            box-shadow: 5px 0px 10px 0px #dbce46;
            height: 100vh;
            margin-left: -40px;
            max-width: 180px;
            padding-left: 50px;
            padding-top: 100px;
            transform: translate(-150%);
            transition: transform 0.5s ease-in-out;

            li {
                list-style: none;
                margin-bottom: 16px;
                padding: 0 10px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

// nav related to desktop
//.main-page-header {
//    background-color: #00008b;
//    color: #fff;
//    height: 150px;
//
//    .navbar {
//        & input[type="checkbox"],
//        & .hamburger-lines {
//            display: none;
//        }
//        .menu-items li {
//            list-style: none;
//            padding: 0 10px;
//
//            a {
//                text-decoration: none;
//                color: #fff;
//            }
//        }
//    }
//}